h1{
    text-align: center;
}

.punteado{
    border-style: dotted;
    border-width: 10px 5px 3px 2px;
}

.discontinuo{
    border-style: dashed;
    border-width: thin; /*Thin: estilo de borde mas delgado, medium: borde mediano, thick: borde mas grueso*/
}

.solida{
    border: solid red;
    border-width: 10px 5px 2px ;
}

.doble{
    border: double blueviolet;
    border-width: 10px 5px;
}

.surco {
    border: 10px groove;
}

.cresta {
    border: 10px ridge;
}

.recuadro {
    border: 10px inset;
}

.inverso{
    border: 10px outset;
}

.oculto{
    border: 10px hidden;
}

.mixto {
    border-style: dotted solid dashed double;
}