body{
    background-color: #edf2f4;
    margin: 0;
    padding: 0;
}

table, th, td{
    margin: auto;
    border: 1px solid #2b2d42;
    border-collapse: collapse;
    padding: 2.5px 5px;
}
th{
    color: #edf2f4;
    background-color: #2b2d42;
}
tr:nth-child(even){
    background-color: #b2b5cf;
}



h1{
    text-align: center;
    color: #2b2d42;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
}

ul{
   list-style-type: none; 
   background-color: #2b2d42;
   overflow: hidden;
   margin-top: 0;  
}

li{
    float: left;
    
}

li a{
    display: block;
    padding: 20px;
    
}

a{
    text-decoration: none;
    color: #edf2f4;
    font-size: 30px;
    
}

li a:hover
{
    background-color: #edf2f4;
    color: #d90429;
}

li a:active{
    color: #d90429;
}