body{
    background-color: #fefae0;
    margin: 0;
    padding: 0;
}

table, th, td{
    margin: auto;
    border: 1px solid #b87e03;
    border-collapse: collapse;
    padding: 2.5px 5px;
}
th{
    color: #fefae0;
    background-color: #b87e03;
}
tr:nth-child(even){
    background-color: #faedcd;
}



h1{
    text-align: center;
    color: #b87e03;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
}

ul{
   list-style-type: none; 
   background-color: #ccd5ae;
   overflow: hidden;
   margin-top: 0;
   
}

li{
    float: left;
    margin: auto;
}

li a{
    display: block;
    padding: 20px;
}

a{
    text-decoration: none;
    color: #fefae0;
    font-size: 30px;
    
}

li a:hover
{
    background-color: #faedcd;
    color: #d4a373;
}

li a:active{
    color: #b87e03;
}